.App {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

input {
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  text-align: center;
  outline: none;
  background-color: #0007;
}

input:hover {
  background-color: rgba(0, 16, 161, 0.467);
  transition: all 500ms ease;
}
