.about-us__page {
  height: 100%;
}
.main-bg__about-us {
  color: #fff;
  background-image: url(/img/bgImages/about-us.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__btn-menu {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about-us__btn-menu button {
  background-color: #20202095;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
}
