.live__page {
  height: 100%;
}
.main_bg-live {
  color: #fff;
  background-image: url(/img/bgImages/live-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.streaming-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

@media (min-width: 768px) {
  .streaming-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    font-size: 3rem;
  }
  .streaming-video {
    width: 55rem;
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .streaming-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: rem;
    font-size: 4rem;
  }
  .streaming-video {
    width: 100rem;
    height: 60rem;
  }
}
