.services__page {
  height: 100vh;
}

.main-bg__services {
  color: #fff;
  background-image: url(/img/services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__content-scroll {
  position: absolute;
  margin-top: 12rem;
  height: 73rem;
  overflow: auto;
  padding: 0 5rem;
}

.services__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services__content img {
  width: 100%;
}

.services__events {
  background-color: #20202099;
  padding: 1.8rem;
  border: solid 2px #fff;
  border-radius: 2rem;
  text-align: center;
}

.events__header {
  margin-bottom: 2rem;
}

.stream__information {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.social-media__examples {
  padding: 2rem 0;
}
